@model FlightApp.Models.Flight

@{
    ViewData["Title"] = "Delete";
}

<h1>Kaydı Sil</h1>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestinationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDestinationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightPrice)
        </dd>
    </dl>
    <br />
   
    <form asp-action="Delete">
        <div>
            <table>
                <tr>
                    <td>
        <input type="hidden" asp-for="FlightId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Uçuşları görüntüle</a>
                    </td>
                </tr>


            </table>
        </div>
    </form>
</div>


              
