@model FlightApp.Models.Flight

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Uçuş Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDestinationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDestinationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightPrice)
        </dd>
    </dl>
</div>
<br />
<div> 
    <table>
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@Model?.FlightId" class="btn btn-success">Düzenle</a>
                <a asp-action="Index" class="btn btn-secondary">Uçuşları görüntüle</a>
            </td>
    </tr>
        
   
    </table>
</div>
